* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: none;
  color: rgb(0, 7, 7);
}

body {
  background: linear-gradient(
    0deg,
    rgba(0, 119, 255, 0.5) 0%,
    rgba(0, 208, 255, 0.5) 100%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h5 {
  padding: 5px 2px 5px 2px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.container {
  background: url(/img/bg.jpg), rgb(255, 255, 255);
  width: 75%;
  height: 90vh;
  margin: 5%;
  padding: 2% 5% 5% 5%;
  border-radius: 15px;
  box-shadow: #0000008a 2px 2px 3px 2px;
}

.subject {
  border-radius: 5px;
  word-wrap: normal;
  line-height: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 4px 50px 4px 50px;
}

.subject:nth-of-type(even) {
  background: rgba(0, 0, 0, 0.25);
}

.subject:nth-of-type(odd) {
  background: rgba(255, 255, 255, 0.25);
}

label {
  width: 20%;
  font-weight: bold;
}

input {
  box-shadow: inset 1px 1px 3px 0.05px;
  width: 10%;
  border-radius: 5px;
  text-align: center;
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px 2px 0.1px;
  background-color: rgba(255, 255, 255, 0.75);
}

#reload {
  box-shadow: black 1.5px 1.5px 5px 0.1px;
  height: 3rem;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
}

#reload:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: ease 0.3s;
}

button,
.btn {
  box-shadow: black 1.5px 1.5px 5px 0.1px;
  height: 3rem;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  background-color: rgb(0, 0, 0);
}

button:hover,
.btn:hover {
  background-color: white;
  color: rgb(0, 0, 0);
  transition: ease 0.3s;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  width: 10%;
}

.subject ::placeholder {
  text-align: center;
  font-weight: lighter;
}

@media only screen and (min-width: 320px) {
  .container {
    width: 100%;
    height: 90vh;
    margin: 5%;
    padding: 2% 5% 5% 5%;
    border-radius: 15px;
    box-shadow: #0000008a 2px 2px 3px 2px;
  }

  input[type="number"],
  input[type="text"] {
    width: 23%;
  }

  label,
  h3 {
    width: 45%;
    font-weight: bold;
    font-size: smaller;
  }
}

@media only screen and (min-width: 720px) {
  .container {
    width: 70%;
    height: 90vh;
    margin: 5%;
    padding: 2% 5% 5% 5%;
    border-radius: 15px;
    box-shadow: #0000008a 2px 2px 3px 2px;
  }

  input[type="number"],
  input[type="text"] {
    width: 10%;
  }

  label,
  h3 {
    width: 20%;
    font-weight: bold;
    font-size: medium;
  }
}
